

<h1>Name : <%= @users.first.name %></h1>

<br>
<%= image_tag @users.first.avatar %>
<br>

<p>Education : <%= @users.first.education %></p>
<br>
<p>Hobbies : <%= @users.first.hobbies %></p>
<br>
<p>Birthday : <%= @users.first.birthday %></p>
<br>
<p>Relationship : <%= @users.first.relationship %></p>

<br>
<%= link_to 'Edit', edit_user_path(@users.first) %>
<br><br>

<h1>Status </h1>

<% @status.each do |status_update| %>
  <%= status_update.content %>
  <%= link_to 'Destroy', status_update, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
  <hr>
<% end %>
<br><br>
<%= link_to 'New Status update', new_status_update_path %>
<br>
