<body class="body-background">

<div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <div class="container">
                <div class="nav-collapse collapse" id="nav-collapse-01">
                  



                    <h2>MyBook</h2>

                    

                    <ul class="nav nav-pills">
    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Messages</a></li>
                    <li><a href="#">Notifications</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Settings
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <!-- links -->
      <li><a href="#">Account Settings</a></li>
      <li><a href="#">Privacy Settings</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </li>
</ul>


                  

                  <p class="text-right"><input type="text" class="small" placeholder="Search" /></p>
                  
                </div><!--/.nav-collapse -->
              </div>
            </div>
          </div> <!-- /navbar -->

<br>

<h1><%= @users.first.name %></h1>

<br>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Timeline</a>
  </li>
  <li><a href="#">Photos</a></li>
  <li><a href="#">Friends</a></li>
</ul>



<br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
      
<br>
<div class="text-center">

<button class="btn btn-danger"><%= image_tag @users.first.avatar %></button>
</div>
<br>


  <div class="well well-small">

<button class="btn btn-info"><h3 class="text-left">
    <div>
      About
    </div>
  </h3>
</button>

  <br>

<div id="front-info">
<dl class="dl-horizontal">
  <p class="text-error"><dt>Education :</dt></p>
  <p class="text-warning"><dd><%= @users.first.education %></dd></p>
  <br>
  <p class="text-error"><dt>Hobbies :</dt></p>
  <p class="text-warning"><dd><%= @users.first.hobbies %></dd></p>
  <br>
  <p class="text-error"><dt>Birthday :</dt></p>
  <p class="text-warning"><dd><%= @users.first.birthday %></dd></p>
  <br>
  <p class="text-error"><dt>Relationship :</dt></p>
  <p class="text-warning"><dd><%= @users.first.relationship %></dd></p>
</dl>
</div>

<br>
<p class="text-right">
  <button class="btn btn-warning"><%= link_to 'Edit', edit_user_path(@users.first) %></button>
</p>

</div>


    </div>
    <div class="span7">
   
      
  <div class="well well-small">

  <button class="btn btn-info"><h3 class="text-left">
    <div>
      Status
    </div>
  </h3>
</button>
     
     
      
  <br>



<br>
<% @status.each do |status_update| %>
<blockquote>
  <div id="front-status">
  <p><%= status_update.content %></p>
  </div>
  <small><%= @users.first.name %><cite title="Source Title"><p class="text-right"><%= link_to 'Destroy', status_update, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </cite></small>
</blockquote>
  
  
  <hr>
<% end %>

<p class="text-center">
<button class="btn btn-huge btn-primary">
  <%= link_to 'New Status update', new_status_update_path %>
</button>
</p>

</div>

<p class="text-center"><textarea rows="3"></textarea></p>
<p class="text-right">
<button class="btn btn-success">Comment</button>
</p>

<br><br><br>

    </div>
  </div>
</div>



</body>
