<br>
  <h1 class="text-center">
    <%= @users.first.name %>
  </h1>
<br><br>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
      
<br>
<div class="text-center">
<%= image_tag @users.first.avatar %>
</div>
<br>

  <h3 class="text-center">
    <div>
      About
    </div>
  </h3>
  <br>

<p>Education : <%= @users.first.education %></p>
<br>
<p>Hobbies : <%= @users.first.hobbies %></p>
<br>
<p>Birthday : <%= @users.first.birthday %></p>
<br>
<p>Relationship : <%= @users.first.relationship %></p>

<br>
<%= link_to 'Edit', edit_user_path(@users.first) %>
<br><br>


    </div>
    <div class="span7">
      
  <h3 class="text-center">
    <div>
      Status
    </div>
  </h3>

<br>
<% @status.each do |status_update| %>
  <%= status_update.content %>
  <%= link_to 'Destroy', status_update, method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr>
<% end %>
<br>
<%= link_to 'New Status update', new_status_update_path %>
<br><br>

    </div>
  </div>
</div>