<body class="body-background">

<div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <div class="container">
                <div class="nav-collapse collapse" id="nav-collapse-01">
                  <ul class="nav">



                    <h2><%= @users.first.name %></h2>

                    

                    <li class="active"><a href="#fakelink">Home</a></li>
                    <li><a href="#fakelink">Messages</a></li>
                    <li><a href="#fakelink">Notifications</a></li>
                    <li>
                      <a href="#fakelink">Settings</a>
                      <ul>
                        <li><a href="#fakelink">Account Settings</a></li>
                        <li><a href="#fakelink">Privacy Settings</a></li>
                        <li><a href="#fakelink">Log Out</a></li>
                      </ul> <!-- /Sub menu -->
                    </li>
                  </ul> <!-- /nav -->

                  <p class="text-right"><input type="text" class="small" placeholder="Search" /></p>
                  
                </div><!--/.nav-collapse -->
              </div>
            </div>
          </div> <!-- /navbar -->

<br>

<p class="text-center">
<ul class="nav nav-pills">
  <li class="active">
    <a href="#">Timeline</a>
  </li>

  <li>
    <a href="#">Photos</a>
  </li>

  <li>
    <a href="#">Friends</a>
  </li>
</ul>
</p>

<br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
      
<br>
<div class="text-center">

<button class="btn btn-danger"><%= image_tag @users.first.avatar %></button>
</div>
<br>


  <div class="well well-small">

<button class="btn btn-info"><h3 class="text-left">
    <div>
      About
    </div>
  </h3>
</button>

  <br>

<div id="front-info">
<dl class="dl-horizontal">
  <dt>Education :</dt>
  <dd><%= @users.first.education %></dd>
  <br>
  <dt>Hobbies :</dt>
  <dd><%= @users.first.hobbies %></dd>
  <br>
  <dt>Birthday :</dt>
  <dd><%= @users.first.birthday %></dd>
  <br>
  <dt>Relationship :</dt>
  <dd><%= @users.first.relationship %></dd>
</dl>
</div>

<br>
<p class="text-right">
  <button class="btn btn-warning"><%= link_to 'Edit', edit_user_path(@users.first) %></button>
</p>

</div>


    </div>
    <div class="span7">
   
      
  <div class="well well-small">

  <button class="btn btn-info"><h3 class="text-left">
    <div>
      Status
    </div>
  </h3>
</button>
     
     
      
  <br>



<br>
<% @status.each do |status_update| %>
<blockquote>
  <div id="front-status">
  <p><%= status_update.content %></p>
  </div>
  <small><%= @users.first.name %><cite title="Source Title"><p class="text-right"><%= link_to 'Destroy', status_update, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </cite></small>
</blockquote>
  
  
  <hr>
<% end %>

<p class="text-center">
<button class="btn btn-huge btn-primary">
  <%= link_to 'New Status update', new_status_update_path %>
</button>
</p>

</div>

<p class="text-center"><textarea rows="3"></textarea></p>
<p class="text-right">
<button class="btn btn-success">Comment</button>
</p>

<br><br><br>

    </div>
  </div>
</div>



</body>
