

<h1>
 <p>
  <strong>Name : <%= @users.first.name %></strong>
 </p>
</h1>


<br>
   <%= image_tag @users.first.avatar %>
<br>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div id="info">

<h1>
 <div>
 <p>
  <small id="in-h">About</small>
 </p></div>
</h1>

<p>Education : <%= @users.first.education %></p>
<br>
<p>Hobbies : <%= @users.first.hobbies %></p>
<br>
<p>Birthday : <%= @users.first.birthday %></p>
<br>
<p>Relationship : <%= @users.first.relationship %></p>

<button class="btn btn-info" type="button">
 <br>
  <%= link_to 'Edit', edit_user_path(@users.first) %>
 <br>
</button>
</div>
    </div>
    <div class="span8">
      <div id="status">
<h1>
 <div>
 <p>
  <small id="st-h">Status</small>
 </p></div>
</h1>

<% @status.each do |status_update| %>
  <%= status_update.content %>
  <%= link_to 'Destroy', status_update, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
  <hr>
<% end %>

<button class="btn btn-info" type="button">
 <br>
  <%= link_to 'New Status update', new_status_update_path %>
 <br>
</button>

</div>
    </div>
  </div>
</div>












