<br>
  <h1 class="text-center">
    <%= @users.first.name %>
  </h1>
<br><br>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
      
<br>
<div class="text-center">
<%= image_tag @users.first.avatar %>
</div>
<br>

  <h3 class="text-center">
    <div>
      About
    </div>
  </h3>
  <br>

<dl class="dl-horizontal">
  <dt>Education :</dt>
  <dd><%= @users.first.education %></dd>
  <br>
  <dt>Hobbies :</dt>
  <dd><%= @users.first.hobbies %></dd>
  <br>
  <dt>Birthday :</dt>
  <dd><%= @users.first.birthday %></dd>
  <br>
  <dt>Relationship :</dt>
  <dd><%= @users.first.relationship %></dd>
</dl>

<br>
<%= link_to 'Edit', edit_user_path(@users.first) %>
<br><br>


    </div>
    <div class="span7">
      
  <h3 class="text-center">
    <div>
      Status
    </div>
  </h3>

<br>
<% @status.each do |status_update| %>
<blockquote>
  <p><%= status_update.content %></p>
  <small><%= @users.first.name %><cite title="Source Title"><p class="text-right"><%= link_to 'Destroy', status_update, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </cite></small>
</blockquote>
  
  
  <hr>
<% end %>
<br>
<%= link_to 'New Status update', new_status_update_path %>
<br><br>

    </div>
  </div>
</div>



